.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}

input {
  background: none;
  border: none;
  color: #fff;
  border-bottom: 2px solid #000;
  font-size: 18px;
  outline: none;
  margin-right: 20px;
}

button {
  border: none;
  background-color: transparent;
  color: #eee;
  transition: all 0.3s;
  border-radius: 8px;
  border: 2px solid #eee;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 6px 10px;
}

button:hover {
  color: #000;
  background: #fff;
}

.form {
  text-align: center;
}

.country-info {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.flag {
  width: 100px;
  height: 70px;
  margin-bottom: 10px;
}

.get-capital {
  margin-top: 30px;
}

.weather-section {
  padding-top: 30px;
}

b {
  letter-spacing: 1px;
  font-size: 18px;
}

.weather-icon {
  width: 64px;
  height: 64px;
  margin: 10px;
}

.country-list-container {
  padding-top: 20px;
}

.country-list {
  color: #aaa;
  font-size: 18px;
}